div.markdownContainer {
  width: 100%;
  font-family: sans-serif, verdana;
  background-color: #282c34;
  color: #abb2bf;
}

div.markdownDocument {
  min-width: 512px;
  padding: 5px;
}

img {
  max-width: 1024px;
  margin: 0px auto;
  position: relative;
}

a[href] {
  color: #abb2bf;
  text-recoration: underline;
}

code {
  padding: 1px 5px;
  border-radius: 3px;
  border: 1px solid #aaa;
  background-color: #aab1c1;
  color: #1e1e1e;
  font-family: monospace;
}

pre > code {
  display: block;
  border: 0px solid;
  padding: 5px 10px;
  margin: 5px 10px;
  counter-reset: line;
  border-radius: 0px;
}

hr {
  border-color: #aab1c1;
  background-color: #aab1c1;
}

strong {
  font-weight: 800;
}
