body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif, verdana;
  background-color: #282c34;
  color: #abb2bf;
  min-width: 512px;
}

div, p, h1, h2, h3, h4, h5 {
  margin: 5px 10px;
}

img {
  max-width: 1024px;
  margin: 0px auto;
  position: relative;
}

a[href] {
  color: #abb2bf;
  text-recoration: underline;
}

code {
  padding: 1px 5px;
  border-radius: 3px;
  border: 1px solid #aaa;
  background-color: #aab1c1;
  color: #1e1e1e;
  font-family: monospace;
}

pre > code {
  display: block;
  border: 0px solid;
  padding: 5px 10px;
  margin: 5px 10px;
  counter-reset: line;
  border-radius: 0px;
}

hr {
  border-color: #aab1c1;
  background-color: #aab1c1;
}

strong {
  font-weight: 800;
}

header {
  text-align: center;
}

.quarterWidth {
  display: inline-block;
  width: 25%;
  margin: 0px;
  padding: 0px;
}

.headerAtomLogo {
  width: 80px;
}
.headerElectronLogo {
  width: 130px;
}

footer {
  height: 138px;
  position: fixed;
  bottom: 0px;
  border-top: 2px solid #AAA;
  width: 100%;
  padding-top: 10px;
  background-color: #282c34;
}

.footerPushup {
  height: 160px;
}

.copyrightNotice {
  text-align: center;
}

.footerNotice {
  style="width: 80%;"
}
